.cart{
    margin-top: 100px;
}
.cart-items-title{
display: grid;
grid-template-columns:1fr 1.5fr 1fr 1fr 1fr 0.5fr ;
color: grey;
align-items: center;
font-size: max(1vw,12px);
}
.cart-item-item{
    margin: 10px 0px;
    color: black;
}
.cart-item-item img{
    width: 50px;
}
.cart hr{
    height: 1px;
    background-color: #e2e2e2;
    border: none;
}
.cart-item-item .cross{
    cursor: pointer;
}
.cart-bottom{
    display: flex;
    gap: max(12vw,20px);
    margin-top: 80px;
    justify-content: space-between;
}
.cart-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cart-total-detail{
    display: flex;
    justify-content: space-between;
    color: #555;
}
.cart-total hr{
    margin: 10px 0px;
}
.cart-total button{
    border: none;
    color: white;
    background: tomato;
    width: max(15vw,200px);
    padding: 12px 0px;
    border-radius: 4px;
    cursor: pointer;
}
.cart-total button:hover{
    transform: scale(1.05);
}
.promocode{
    flex: 1;
}
.promocode p{
    color: #555;
}
.promocode-input{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#eaeaea ;
    border-radius: 5px;
}
.promocode-input input{
background: transparent;
border: none;
outline: none;
padding-left: 10px;
}
.promocode-input button{
    width: max(10vw,150px);
    padding: 12px 5px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
}
@media(max-width:750px){
    .cart-bottom{
        flex-direction: column;
    }
    .promocode{
        justify-content: start;
    }
}