.navbar{
    display: flex;
    padding: 20px 0px;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 150px;
    
}
.navbar-menu{
  display: flex;
  list-style: none;
   
  gap: 20px;
  color:#49557e ;
  
  font-size: 18px;
}
.navbar li{
    cursor: pointer;
    padding: 5px;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}
.navbar button{
background: transparent;
font-size: 16px;
color: #49557e;
border: 1px solid tomato;
padding: 10px 30px;
border-radius: 50px;
cursor: pointer;
transition: 0.5s;
}
.navbar button:hover{
    background-color: #fff4f2;
}
.navbar .active{
    padding-bottom: 3px;
    border-bottom: 2px solid #49557e;
}
.navbar-search_icon{
    position: relative;
}
.navbar-search_icon .dot{
position: absolute;
min-width: 10px;
min-height: 10px;
background-color: tomato;
border-radius: 5px;
top: -8px;
right: -8px;
}
.navbar-profile{
    position: relative;
}
.nav-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}
.navbar-profile:hover .nav-profile-dropdown{
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    background-color: #fff2ef;
    padding: 12px 25px;
    border-radius: 4px;
    outline: 2px solid white;
    border: 1px solid tomato;
}
.nav-profile-dropdown li{
    display: flex;
    cursor: pointer;
    gap: 10px;
}
.nav-profile-dropdown li:hover{
    color: tomato;
}
.nav-profile-dropdown img{
    width: 20px;
}
@media(max-width:1050px){
    .logo{
        width: 140px;
    }
    .navbar-menu{
        font-size: 17px;
        gap: 20px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding: 8px 25px;
    }
}
@media(max-width:900px){
    .logo{
        width: 120px;
    }
    .navbar-menu{
        font-size: 14px;
        gap: 5px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 6px 15px;
        
    }
}
@media(max-width:750px){
    
    .navbar-menu{
        display: none;
    }
    
}