.LoginSignup {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
}
.LoginSignup p {
  color: white;
}
.popup-container {
  z-index: 1;
  place-self: center;
  width: max(23vw, 330px);
  color: #808080;
  background-color: #00000090;
  padding: 25px 30px;
  gap: 25px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  font-size: 14px;
  animation: fade 0.5s;
}
.popup-title {
  display: flex;
  justify-content: space-evenly;
}
.popup-title h2 {
  display: flex;
  align-items: center;
  color: white;
}
.cross-icon {
  width: 28px;
  margin-left: 163px;
  cursor: pointer;
}
.popup-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.popup-inputs input {
  outline: none;
  border: 1px solid #c9c9c9;
  padding: 10px;
  border-radius: 4px;
}
.popup-container button {
  border: none;
  padding: 10px;
  background-color: tomato;
  font: 15px;
  color: white;
  border-radius: 4px;
}
.popup-container button:hover{
    transform: scale(1.05);
    cursor: pointer;

}
.popup-condition {
  color: white;
  display: flex;
  align-items: start;
  gap: 8px;
  margin-top: -15px;
}
.popup-condition input {
  margin-top: 5px;
}
.LoginSignup p span {
  color: tomato;
  font-weight: 500;
  cursor: pointer;
  margin: 7px;
}
.LoginSignup p span:hover {
  text-decoration: underline;
}
